body {
  font-family: sans-serif;
  text-align: center;
  display: block;
  background-color: #C60C30;
  color: #ffffff;
}
#item {
    margin: 20px 10px 20px 10px;
    width: 90%;
	font-size: 15px;
}
form {
  background-color: #002244;
  margin: 10px 0px, 10px, 0px;
  text-align: center;
  list-style: none;
  color: #B0B7BC;
  box-sizing: content-box;
}
@media (min-width: 768px) {
form {
  display: inline-block;
  background-color: #002244;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  color: #B0B7BC;
  width: 90%;
}
#item {
  margin: 3% 0% 3% 0%;
  font-size: 30px;
}
submit{
  margin: 3% 0% 3% 0%;
}
}